.wrapper {
  background-color: var(--background);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 24px;
  width: 100%;
}

.tabBar {
  background-color: var(--background);
  border-bottom: 1px solid var(--accent);
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 20px;
}

.content {
  padding: 20px;
}

.tabButton {
  background-color: var(--main);
  border: 1px solid var(--accent);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.hidden {
  display: none;
}

tbody tr:last-child td {
  border: 0;
}
