.dashboardContainer {
  background-color: var(--background);
  border-radius: 10px;
}

.tabHeader {
  background-color: var(--background);
  border-bottom: 1px solid var(--accent);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.tabContentContainer {
  padding: 20px;
}

.button {
  background-color: var(--main);
  border: 1px solid var(--accent);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.tabContent {
}

.hidden {
  display: none;
}
