.ticketTable {
  border-collapse: collapse;
  width: 100%;
}

.ticketTable th,
.ticketTable td {
  border-bottom: 1px solid var(--accent);
  padding: 10px 15px;
  text-align: center;
}

.ticketTable th {
  font-weight: bold;
}

.ticketRow:hover {
  cursor: pointer;
}

.ticketModal {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.ticketModalContent {
  background-color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 12px;
  height: 50vh;
  padding: 15px;
  width: 50vh;
}
