.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form > * {
  padding: 0 10px;
}

.heading {
  font-weight: bold;
}

.meta {
  border-bottom: 1px solid var(--accent);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.metaItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 25px;
}

.lastField {
  border-bottom: 0;
  padding-bottom: 0;
}

.inputTitle,
.textarea,
.inputDate {
  padding: 5px 12px;
}

.submitBtn {
  background-color: rgb(61, 161, 61);
  border-radius: 10px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 12px;
}

.form input,
.form textarea {
  border: 1px solid var(--accent);
  border-radius: 10px;
}
