.ticketTable {
  border-collapse: collapse;
  width: 100%;
}

.ticketTable th,
.ticketTable td {
  border-bottom: 1px solid var(--accent);
  padding: 10px 15px;
  text-align: center;
}

.ticketTable th {
  font-weight: bold;
}

.ticketRow:hover {
  cursor: pointer;
}

.ticketModal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
