.wrapper {
  background-color: var(--background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
  width: min(80%, 800px);
}

.header,
.headerRow,
.meta > * {
  display: flex;
  flex-direction: column;
}

.header,
.headerRow {
  gap: 20px;
}

.titleBlock,
.idBlock,
.meta,
.desc,
.timeList {
  background-color: var(--main);
  border: 1px solid #737373;
  border-radius: 10px;
  padding: 10px;
}

.titleBlock,
.idBlock {
  display: flex;
  flex-direction: column;
}

.titleBlock :first-child,
.idBlock :first-child,
.metaItem :first-child,
.descText :first-child,
.timeList > :first-child {
  font-weight: 100;
}

.descText p:last-child {
  text-align: justify;
}

.meta,
.desc {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: auto auto 1fr;
  row-gap: 8px;
  column-gap: 16px;
}

.gridHead {
  font-weight: 600;
}

.gridText {
  text-align: justify;
}

.actions {
  display: flex;
  justify-content: end;
}

.primaryBtn {
  background-color: #2f7d4f;
  border: 1px solid #737373;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
}

.primaryBtn:hover {
  background-color: #3a8f5d;
}

.closeBtn {
  align-items: center;
  background-color: var(--main);
  border: 1px solid #737373;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 30px;
  top: 20px;
  transition: background-color 0.2s ease;
  width: 30px;
}

.closeBtn:hover {
  background-color: #434343;
}
