.ticketDetailContainer {
  background-color: var(--background);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: min(80%, 800px);
}

.ticketHeader,
.ticketHeaderContent,
.ticketMeta > * {
  display: flex;
  flex-direction: column;
}

.ticketHeader,
.ticketHeaderContent {
  gap: 20px;
}

.ticketTitle,
.ticketId,
.ticketMeta,
.ticketDescription {
  background-color: var(--main);
  border: 1px solid #737373;
  border-radius: 10px;
  padding: 10px;
}

.ticketTitle,
.ticketId {
  display: flex;
  flex-direction: column;
}

.ticketTitle :first-child,
.ticketId :first-child,
.ticketStatus :first-child,
.ticketPriority :first-child,
.ticketDeadline :first-child,
.ticketDescriptionText :first-child {
  font-weight: 100;
}

.ticketMeta,
.ticketDescription {
  display: flex;
  justify-content: space-between;
}

.ticketTimeEntryListContent {
  display: flex;
  gap: 20px;
}
